*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
}

p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color:  hsla(0, 0%, 100%, 0.75);
    line-height: 1.8rem;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color: hsl(0, 0%, 95%);
    font-size: 3rem;
}

/* wrapper */


.main-wrapper{
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    display: flex;
    overflow: hidden;
    flex-direction: row;
}

/* car pallet */

.car-pallet{
    padding: 3.02rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 250px;
    max-width: 350px;
    gap:3rem;
}

/* palet color */

.car-type-1{
    background-color:  hsl(31, 77%, 52%);
}

.car-type-2{
    background-color:  hsl(184, 100%, 22%);
}

.car-type-3{
    background-color:  hsl(179, 100%, 13%);
}

/* button */

.learn-more-btn > button{
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border-radius: 30px;
    border: 2px solid hsl(0, 0%, 95%);
}

.car-type-1 > .learn-more-btn > button{
    color: hsl(31, 77%, 52%);
}

.car-type-2 > .learn-more-btn > button{
    color: hsl(184, 100%, 22%);
}

.car-type-3 > .learn-more-btn > button{
    color: hsl(179, 100%, 13%);
}

/* hovers */

.learn-more-btn > button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 95%);
}

.car-pallet > .learn-more-btn > button:hover{
    color: hsl(0, 0%, 95%);
}

/* tablet */

@media (max-width: 1132px){
    .main-wrapper{
        flex-direction: column;
    }
    .car-pallet{
        max-width: 100%;
    }
}

/* mobile */

@media (max-width: 768px){
    body{
        padding: 1rem 3px;
    }
}